<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0">
  <servers>
    <server>
      <id>ardencm-artifactory</id>
      <username>svc-corporate-actions-service</username>
      <password>${env.ARTIFACTORY_TOKEN}</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>ardencm-artifactory</id>
      <mirrorOf>*</mirrorOf>
      <url>https://artifactory.ardencm.internal/artifactory/maven-remote</url>
    </mirror>
  </mirrors>
</settings>
